.game {
  background-color: black;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.game-container-card {
  position: relative;
  bottom: 5rem;
}

.setting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  appearance: none;
}
