.setting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  appearance: none;
}

.main-menu input::picker {
  appearance: none;
  border: none;
}

.main-menu {
  width: 90vw;
  min-width: 250px;
  max-width: 500px;
  background-color: white;
  padding: 2.5rem;
  border-radius: 15px;
  box-shadow: 0 0 20px rgba(0, 207, 213, 0.3); /* Neon cyan glow */
  color: #1a1a1a; /* Dark text for high contrast on white */
  justify-self: center;
}

.btn--previous {
  float: right;
}
