.main-menu {
  width: 75vw;
  height: 75vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  justify-self: center;
  background-color: white;
  color: black;
  padding-inline: 2rem;
  margin: 4rem;
}

.setting {
  width: 100%;
  display: flex;
  justify-content: space-between;
  appearance: none;
}

.main-menu input::picker {
  appearance: none;
  border: none;
}

.main-menu h2 {
  margin-bottom: 2rem;
}
