.preGame-menu {
  width: 75vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: center;
  justify-self: center;
  background-color: white;
  color: black;
  padding-inline: 2rem;
  margin: 4rem;
}
