.chip-container {
  place-self: center;
}

.chip-outer-border {
  width: 5rem;
  height: 5rem;
  background-color: red;
  border-radius: 50%;
  position: relative;
  box-shadow: 1px 1px 1px black;
  z-index: 1;
}

.chip-other-layer-container {
  width: 5rem;
  height: 5rem;
  background-image: repeating-conic-gradient(white 0deg 10deg, red 10deg 60deg);
  border-radius: 50%;
  position: absolute;
  box-shadow: 1px 1px 1px black;
  z-index: 2;
}

.chip-outer-cap-border {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
  position: absolute;
  background-color: red;
  place-self: center;
  z-index: 4;
  place-content: center;
}

.chip-inner-stripes {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  position: absolute;
  background-image: repeating-conic-gradient(white 0deg 10deg, red 10deg 30deg);
  place-self: center;
  place-content: center;
}

.chip-inner-cap {
  width: 2.3rem;
  height: 2.3rem;
  border-radius: 50%;
  background-color: red;
  place-self: center;
}
