:root {
  --font-hennyPenny: "Henny Penny", system-ui;
  --font-pressStart: "Press Start 2P", system-ui;

  --text-md: 1.125rem;
  --text-lg: 1.25rem;
  --text-xl: 1.5rem;
  --text-2xl: 2rem;
  --text-4xl: 4rem;
  --color-cyan-500: hsl(180, 100%, 50%);
  --color-cyan-700: hsl(180, 100%, 25%);
  --color-table-green-300: hsl(128, 27%, 55%);
  --color-table-green-500: hsl(128, 27%, 42%);
  --color-table-green-700: hsl(128, 27%, 21%);
  --color-table-green-900: hsl(128, 27%, 15%);
  --color-table-brown-300: hsl(22, 46%, 45%);
  --color-table-brown-500: hsl(22, 46%, 40%);
  --color-table-brown-700: hsl(22, 46%, 21%);
  --color-table-brown-800: hsl(22, 46%, 18%);
  --color-table-brown-900: hsl(22, 46%, 11%);
  font-size: 16px;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: inherit;
}
.text-red {
  color: red;
}
.text-black {
  color: black;
}
.rotate-180 {
  transform: rotate(180deg);
}
.place-center {
  display: flex;
  place-content: center;
}
.items-center {
  align-items: center;
}
.border-red {
  border: 1px solid red;
}
.border-black {
  border: 1px solid black;
}
.bg-none {
  background-image: none;
}
.visibiliy-visible {
  visibility: visible;
}
.visibiliy-hidden {
  visibility: hidden;
}
.w-full {
  width: 100%;
}
.h-full {
  height: 100%;
}
.bg-cyan {
  background-color: var(--color-cyan-500);
}
.text-shadow {
  text-shadow: 1px 1px 1px black;
}
.box-shadow {
  box-shadow: 1px 1px 1px black;
}
.fit-content {
  width: fit-content;
  height: auto;
}
