body {
  font-family: var(--font-hennyPenny);
  background-color: cyan;
  color: white;
  text-align: center;
}

h1 {
  font-size: var(--text-4xl);
  margin: 1rem;
  text-shadow: 2px 2px 2px var(--color-cyan-700);
}

h2 {
  font-size: var(--text-2xl);
  display: block;
}
