body {
  font-family: var(--font-hennyPenny);
  background-color: var(--color-nt-bg);
  color: white;
  text-align: center;
}

h1 {
  font-size: var(--text-4xl);
  margin: 1rem;
  text-shadow: 2px 2px 2px black;
}

h2 {
  font-size: var(--text-2xl);
  display: block;
  margin: 2rem;
}

button {
  font-family: var(--font-hennyPenny);
  padding: 0 1rem;
  border-radius: 0.5rem;
  background-color: yellow;
  font-size: var(--text-md);
}
