body {
  font-family: var(--ff-main);
  background-color: cyan;
  color: white;
  text-align: center;
}

h1 {
  font-size: var(--text-4xl);
  text-shadow: 2px 1px 2px var(--color-cyan-700);
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 95vh;
}
