.playing-card {
  background-color: white;
  display: flex;
  border-radius: 0.3rem;
  box-shadow:
    0 4px 10px var(--card-shadow),
    0 0 20px var(--card-glow);
  transition:
    transform 0.2s ease,
    box-shadow 0.2s ease;
  cursor: pointer;
  border: 1px solid hsl(0, 0%, 90%);
  position: relative;
  width: 120px;
  height: 180px;
  margin-left: -60px; /* This creates the overlap */
  background-color: var(--card-white);
  border: 1px solid hsl(0, 0%, 80%);
  border-radius: 10px;
}

.playing-card:first-child {
  margin-left: 0;
}

.playing-card:hover {
  z-index: 10;
  transform: translateY(-10px) scale(1.02);
  box-shadow:
    0 15px 30px var(--card-shadow),
    0 0 30px hsla(183, 100%, 50%, 0.3);
}

.small-suit-icon {
  width: 0.9rem;
  height: auto;
}

.medium-suit-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.large-suit-icon {
  width: 4rem;
  height: auto;
}

.playing-card-side-column {
  width: 20%;
}

.playing-card-centerpiece {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(5, 1fr);
  margin-block: 0.8rem;
}

.playing-card-centerpiece-lg {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(7, 1fr);
  margin-block: 0.8rem;
}

.playing-card-centerpiece-face {
  width: 60%;
  margin-block: 0.8rem;
}

.face-down {
  background-image: url(../../../public/FireBolt.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.two-a {
  grid-column-start: 2;
  grid-row-start: 1;
}

.two-b {
  grid-column-start: 2;
  grid-row-start: 5;
}

.three-a {
  grid-column-start: 2;
  grid-row-start: 1;
}

.three-b {
  grid-column-start: 2;
  grid-row-start: 3;
}

.three-c {
  grid-column-start: 2;
  grid-row-start: 5;
}

.four-a {
  grid-column-start: 1;
  grid-row-start: 1;
}

.four-b {
  grid-column-start: 3;
  grid-row-start: 1;
}

.four-c {
  grid-column-start: 1;
  grid-row-start: 5;
}

.four-d {
  grid-column-start: 3;
  grid-row-start: 5;
}

.five-a {
  grid-column-start: 1;
  grid-row-start: 1;
}

.five-b {
  grid-column-start: 3;
  grid-row-start: 1;
}

.five-c {
  grid-column-start: 2;
  grid-row-start: 3;
}

.five-d {
  grid-column-start: 1;
  grid-row-start: 5;
}

.five-e {
  grid-column-start: 3;
  grid-row-start: 5;
}

.six-a {
  grid-column-start: 1;
  grid-row-start: 1;
}

.six-b {
  grid-column-start: 3;
  grid-row-start: 1;
}

.six-c {
  grid-column-start: 1;
  grid-row-start: 3;
}

.six-d {
  grid-column-start: 3;
  grid-row-start: 3;
}

.six-e {
  grid-column-start: 1;
  grid-row-start: 5;
}

.six-f {
  grid-column-start: 3;
  grid-row-start: 5;
}

.seven-a {
  grid-column-start: 1;
  grid-row-start: 1;
}

.seven-b {
  grid-column-start: 3;
  grid-row-start: 1;
}

.seven-c {
  grid-column-start: 1;
  grid-row-start: 3;
}

.seven-d {
  grid-column-start: 3;
  grid-row-start: 3;
}

.seven-e {
  grid-column-start: 2;
  grid-row-start: 2;
}

.seven-f {
  grid-column-start: 1;
  grid-row-start: 5;
}

.seven-g {
  grid-column-start: 3;
  grid-row-start: 5;
}
.eight-a {
  grid-column-start: 1;
  grid-row-start: 1;
}

.eight-b {
  grid-column-start: 3;
  grid-row-start: 1;
}

.eight-c {
  grid-column-start: 1;
  grid-row-start: 3;
}

.eight-d {
  grid-column-start: 3;
  grid-row-start: 3;
}

.eight-e {
  grid-column-start: 2;
  grid-row-start: 2;
}

.eight-f {
  grid-column-start: 2;
  grid-row-start: 4;
}

.eight-g {
  grid-column-start: 1;
  grid-row-start: 5;
}

.eight-h {
  grid-column-start: 3;
  grid-row-start: 5;
}
.nine-a {
  grid-column-start: 1;
  grid-row-start: 1;
}

.nine-b {
  grid-column-start: 3;
  grid-row-start: 1;
}

.nine-c {
  grid-column-start: 1;
  grid-row-start: 3;
}

.nine-d {
  grid-column-start: 3;
  grid-row-start: 3;
}

.nine-e {
  grid-column-start: 2;
  grid-row-start: 2;
}

.nine-f {
  grid-column-start: 1;
  grid-row-start: 5;
}

.nine-g {
  grid-column-start: 3;
  grid-row-start: 5;
}

.nine-h {
  grid-column-start: 1;
  grid-row-start: 7;
}
.nine-i {
  grid-column-start: 3;
  grid-row-start: 7;
}

.ten-a {
  grid-column-start: 1;
  grid-row-start: 1;
}

.ten-b {
  grid-column-start: 3;
  grid-row-start: 1;
}

.ten-c {
  grid-column-start: 1;
  grid-row-start: 3;
}

.ten-d {
  grid-column-start: 3;
  grid-row-start: 3;
}

.ten-e {
  grid-column-start: 2;
  grid-row-start: 2;
}

.ten-f {
  grid-column-start: 1;
  grid-row-start: 5;
}

.ten-g {
  grid-column-start: 3;
  grid-row-start: 5;
}

.ten-h {
  grid-column-start: 2;
  grid-row-start: 6;
}
.ten-i {
  grid-column-start: 1;
  grid-row-start: 7;
}
.ten-j {
  grid-column-start: 3;
  grid-row-start: 7;
}
