.title-container {
  background-color: cyan;
  height: 95vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.title-container-card {
  position: relative;
  bottom: 5rem;
}
